:root{
    --banana-black: #290d0d;
}

body {
    display: flex;
    padding: 0;
    margin: 0;
    padding-top: 90px;
}

p{
    margin: 0;
}

/*Nav Buttons*/
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    height: 60px;
    border: 5px solid black;
    border-radius: 50px;
    background-color: white;
}

.nav-button {
    font-family: "Roboto";
    color: black;
    font-size: 35px;
 
    height: 100%;
    width: 200px;
    padding: 0 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-button:hover{
    opacity: 50%;
    background-color: grey;
}

.left-button{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.right-button{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

/*Main content*/
#main-content-container{
    padding: 20px;
    
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    flex: 1;
}

#projects-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid black;
    border-radius: 20px;
}

#about-me-container{
    
}

.separator{
    height: 5px;
    width: 200px;
    background-color: black;
}

/*under construction*/
.under-construction-image{
    width: 250px;
}

.under-construction-text{
    font-size: 35px;
}