.content-container{
    align-self: center;
    width: 1450px;
    padding: 20px;
}

#main-content-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    row-gap: 20px;
}

.content{
    margin-top: 15px;
}

#project-card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 50px;
}

.project-card{
    background-color: var(--card-bg-color);
    width: 450px;
    min-width: 450px;
    height: 600px;
    border-radius: var(--card-border-radius);
    box-shadow: 5px 5px 20px black;
    cursor: pointer;
}

.project-card-body{
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.project-card-title{
    font-size: 26px;
    color: var(--heading-text-color)
}

.project-card-date{
    font-size: 10px;
    padding-left: 10px;
}

.project-card-description{
    font-size: 20px;
    line-height: 30px;
    padding-left: 10px;
}

.project-card-image{
    width: 450px;
    border-top-left-radius: var(--card-border-radius);
    border-top-right-radius: var(--card-border-radius);
    border-bottom: 2px solid var(--main-color);
}